@import "tailwindcss";
@import "daisyui/daisyui.css";



/* Reusable common button */

.primary-btn {
  background-color: #244D3F;
  color: white;
  padding: 12px 28px;
  border-radius: 10px;
  font-weight: 600;
  font-size: 18px;
  letter-spacing: 0.3px;
  transition: all 0.35s ease;
  box-shadow: 0 4px 14px rgba(36, 77, 63, 0.25);

  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 8px;

  cursor: pointer;
}

.primary-btn:hover {
  background-color: #1b3c31;
  transform: translateY(-3px) scale(1.02);
  box-shadow: 0 8px 14px rgba(36, 77, 63, 0.35);
}

.primary-btn:active {
  transform: scale(0.97);
}

.primary-btn:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}
